<style> td, th, caption { border: 1px solid black; } </style>
<table style="width:50%">
    <caption><b>Produkty</b></caption>
        <tr>
            <th>Kod</th><th>Nazwa</th><th>Kategoria</th><th>Opis</th><th>Cena sprzedaży</th><th>Ilość na magazynie</th>
        </tr>
        <tr>{% for product in products_list %}
            <td><a href="/products/{{ product.id }}">{{ product.code }}</a></td><td>{{ product.name }}</td><td>{{ product.category.category }}</td>
            <td>{{ product.description }}</td><td>{{ product.last_price.price_for_sale }} zł</td><td>{{ product.quantity }}</td>
        </tr>{% endfor %}
</table><br>