<style> #customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
} </style>
<table id="customers">
    <caption><b>Produkty</b></caption>
        <tr>
            <th>Kod</th><th>Nazwa</th><th>Kategoria</th><th>Opis</th><th>Cena sprzedaży</th><th>Ilość na magazynie</th>
        </tr>
        <tr>{% for prod in products %}
            <td><a href="/products/{{ prod.id }}">{{ prod.code }}</a></td><td>{{ prod.name }}</td><td>{{ prod.category.category }}</td>
            <td>{{ prod.description }}</td><td>{{ prod.last_price.price_for_sale }} zł</td><td>{{ prod.quantity }}</td>
        </tr>{% endfor %}
</table><br>
<form action="", method="post">{% csrf_token %}
  <input type="text" name="search">
  <input type="submit" value="Szukaj">
</form><br>
<a href="/addproduct" style="font-size: 20px;">Dodaj produkt</a><br>
<br>
<a href="/"style="font-size: 20px;">Powrót</a><br>
<br>
        {% if products.has_other_pages %}
            {% if products.has_previous %}
                <a href="?page={{ products.previous_page_number }}">< poprzednia</a>
            {% endif %}
            {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                    <span>|  {{ i }}  |</span>
                {% else %}
                    <a href="?page={{ i }}">|  {{ i }}  |</a>
                {% endif %}
            {% endfor %}
            {% if products.has_next %}
                <a href="?page={{ products.next_page_number }}">następna ></a>
            {% endif %}
        {% endif %}